<div fxLayout="column" *ngIf="eventDetails$ | async as eventDetails">

  <div id="intro" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="90" fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="space-between center" fxLayoutAlign.sm="space-between start" fxLayoutAlign.xs="space-between start">   
      <span></span>

      <div fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="center center" fxLayoutAlign.sm="center start" fxLayoutAlign.xs="center start">
        <div countdowntimer [dateTo]="eventDetails[0]?.date?.seconds" class="countdown"></div>

        <h2 class="event-title" data-aos="zoom-in" data-aos-duration="1000">KL&A Lightning Talks</h2>

        <p class="event-date" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="750">April 25, 2019 at 4:30 PM</p>
      </div>

      <button mat-button class="learn-more" fxLayoutAlign="center" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1500" data-aos-anchor="#intro">Learn More</button>
    </div>
  </div>

  <div id="about" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="90" fxLayout="row">   
      <div fxFlex="75" fxFlex.sm="90" fxFlex.xs="90" fxLayout="column" fxLayoutGap="32px">
          <div>
              <h2>About KL&A Lightning Talks</h2>
              <h3>It’ll be fun. Just come.</h3>
          </div>
    
          <p>
            The KL&A Lightning Talks is an afternoon of 5 minute presentations about development, design, business, project management and more! Regardless of what your title is, there is a little something for everyone.
          </p>
    
          <p>
              Munch on some food, take a few sips of your beverage and learn about the cool, interesting things that your colleagues are currently involved with at the company.
          </p>
      </div>
      <div fxFlex></div>
    </div>
  </div>

  <app-speakers></app-speakers>

  <app-schedule></app-schedule>
</div>
