<div id="speakers" #speakers fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="90" fxLayout="row">   
    <div fxFlex fxLayout="column" fxLayoutGap="64px">
        <div fxFlex>
            <h2>Speakers</h2>
            <h3>Your fellow colleagues.</h3>
        </div>
  
        <div fxLayout="column" fxLayoutGap="64px" fxLayoutAlign="center center">
          <h3>Presenters</h3>

          <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="64px" fxLayoutGap.sm="32px" fxLayoutGap.xs="32px">

            <mat-card class="speaker" data-aos="flip-left" data-aos-anchor="#speakers" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
              <img class="profile-img" alt="Christopher Dahm" src="assets/chris_dahm.jpg">

              <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
                <p>Christopher Dahm</p>
                <p class="slack-handle">
                  <i class="fa fa-slack"></i>
                  <span>firebase-happyface</span>
                </p>
              </div>
            </mat-card>

            <mat-card class="speaker" data-aos="flip-left" data-aos-anchor="#speakers" data-aos-delay="100" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
              <img class="profile-img" alt="Christy Brandt" src="assets/christy_brandt.jpg">

              <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px"> 
                  <p>Christy Brandt</p>
                  <p class="slack-handle">
                    <i class="fa fa-slack"></i>
                    <span>christyb</span>
                  </p>
              </div>
            </mat-card>

            <mat-card class="speaker" data-aos="flip-left" data-aos-anchor="#speakers" data-aos-delay="200" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
              <img class="profile-img" alt="Jessica Davis" src="assets/jessica_davis.jpg">
              
              <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px"> 
                  <p>Jessica Davis</p>
                  <p class="slack-handle">
                    <i class="fa fa-slack"></i>
                    <span>j.davis</span>
                  </p>
              </div>
            </mat-card>

            <mat-card class="speaker" data-aos="flip-left" data-aos-anchor="#speakers" data-aos-delay="300" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
                <img class="profile-img" alt="Jim Rasche" src="assets/jim_rasche.jpg">
                
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px"> 
                    <p>Jim Rasche</p>
                    <p class="slack-handle">
                      <i class="fa fa-slack"></i>
                      <span>jrasche</span>
                    </p>
                </div>
              </mat-card>
          </div>

          <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="64px" fxLayoutGap.sm="32px" fxLayoutGap.xs="32px">

              <mat-card class="speaker" data-aos="flip-left" data-aos-anchor="#speakers" data-aos-delay="400" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
                <img class="profile-img" alt="Justin Majeske" src="assets/justin_majeske.jpg">
  
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
                  <p>Justin Majeske</p>
                  <p class="slack-handle">
                    <i class="fa fa-slack"></i>
                    <span>j.majeske</span>
                  </p>
                </div>
              </mat-card>
  
              <mat-card class="speaker" data-aos="flip-left" data-aos-anchor="#speakers" data-aos-delay="500" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
                <img class="profile-img" alt="Katy Hollobaugh" src="assets/katy_hollobaugh.jpg">
  
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px"> 
                    <p>Katy Hollobaugh</p>
                    <p class="slack-handle">
                      <i class="fa fa-slack"></i>
                      <span>Katy Hollobaugh</span>
                    </p>
                </div>
              </mat-card>
  
              <mat-card class="speaker" data-aos="flip-left" data-aos-anchor="#speakers" data-aos-delay="600" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
                <img class="profile-img" alt="Sokwhan Huh" src="assets/sokwhan_huh.jpg">
                
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px"> 
                    <p>Sokwhan Huh</p>
                    <p class="slack-handle">
                      <i class="fa fa-slack"></i>
                      <span>shuh</span>
                    </p>
                </div>
              </mat-card>
            </div>
        </div>

        <div fxLayout="column" fxLayoutGap="64px" fxLayoutAlign="center center">
          <h3>Masters of Ceremony</h3>

          <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="64px" fxLayoutGap.sm="32px" fxLayoutGap.xs="32px">

              <mat-card class="speaker" data-aos="flip-left" data-aos-anchor="#speakers" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
                <img class="profile-img" alt="Samuel NadarajanSamuel Nadarajan" src="assets/sam_nadarajan.jpg">
  
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
                  <p>Sam Nadarajan</p>
                  <p class="slack-handle">
                    <i class="fa fa-slack"></i>
                    <span>greattone</span>
                  </p>
                </div>
              </mat-card>
  
              <mat-card class="speaker" data-aos="flip-left" data-aos-anchor="#speakers" data-aos-delay="100" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
                <img class="profile-img" alt="Tony Whalen" src="assets/tony_whalen.jpg">
  
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px"> 
                    <p>Tony Whalen</p>
                    <p class="slack-handle">
                      <i class="fa fa-slack"></i>
                      <span>mavelys</span>
                    </p>
                </div>
              </mat-card>
  
              <mat-card class="speaker" data-aos="flip-left" data-aos-anchor="#speakers" data-aos-delay="200" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
                <img class="profile-img" alt="Tylor Hoekstra" src="assets/tylor_hoekstra.jpg">
                
                <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px"> 
                    <p>Tylor Hoekstra</p>
                    <p class="slack-handle">
                      <i class="fa fa-slack"></i>
                      <span>hoekstra</span>
                    </p>
                </div>
              </mat-card>
  
              <mat-card class="speaker" data-aos="flip-left" data-aos-anchor="#speakers" data-aos-delay="300" fxLayout="column" fxLayoutGap="8px" fxLayoutAlign="center center">
                  <img class="profile-img" alt="Tommy Truong" src="assets/tommy_truong.jpg">
                  
                  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px"> 
                      <p>Tommy Truong</p>
                      <p class="slack-handle">
                        <i class="fa fa-slack"></i>
                        <span>tommicchi</span>
                      </p>
                  </div>
                </mat-card>
            </div>
        </div>
    </div>
  </div>
</div>

<!-- <div *ngFor="let s of speakerList$ | async">
  <app-speaker [speaker]="s"></app-speaker>
</div> -->
