<mat-drawer-container fxLayout="column" autosize>
  <mat-drawer class="mobile-menu" #drawer mode="over">
    <button mat-icon-button class="menu-toggle" (click)="drawer.toggle()">
      <mat-icon aria-label="Open menu">close</mat-icon>
    </button>

    <div class="site-name" fxFlex fxLayoutAlign="center center">
      <img class="conference-logo" alt="KL&A Lightning Talks" src="assets/kla-lightning-logo.png">
    </div>

    <div class="menu-items" fxFlex fxLayout="column">
      <!-- <button mat-button (click)="drawer.toggle()">Countdown</button> -->
      <button mat-button (click)="drawer.toggle()" (click)="goToSection('about')">About</button>
      <!-- <button mat-button (click)="drawer.toggle()" (click)="goToSection('speakers')">Speakers</button>
      <button mat-button (click)="drawer.toggle()" (click)="goToSection('schedule')">Schedule</button> -->
      <button mat-button (click)="drawer.toggle()" (click)="goToSection('spring2019')">Spring 2019</button>
      <button mat-button (click)="drawer.toggle()" (click)="goToSection('spring2019')">Spring 2019</button>
    </div>
  </mat-drawer>

  <header fxLayout="row" [ngClass]="{'scrolled' : scrollPosition != 0 }">
      <mat-toolbar class="header-content" color="primary" fxHide.sm fxHide.xs fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-button (click)="goToSection('intro')">
          <img class="conference-logo" alt="KL&A Lightning Talks" src="assets/kla-lightning-logo.png">
        </button>
        <div class="menu-items">
          <!-- <button mat-button>Countdown</button> -->
          <button mat-button (click)="goToSection('about')">About</button>
          <!-- <button mat-button (click)="goToSection('speakers')">Speakers</button>
          <button mat-button (click)="goToSection('schedule')">Schedule</button> -->
          <button mat-button (click)="goToSection('spring2019')">Spring 2019</button>
        </div>
      </mat-toolbar>

      <mat-toolbar class="header-content" color="primary" fxHide.xl fxHide.lg fxHide.md fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-icon-button class="menu-toggle" (click)="drawer.toggle()">
          <mat-icon aria-label="Open menu">menu</mat-icon>
        </button>

        <img class="conference-logo" alt="KL&A Lightning Talks" src="assets/kla-lightning-logo.png">

        <span></span>
      </mat-toolbar>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

</mat-drawer-container>
