<mat-drawer-container fxLayout="column" autosize>
  <mat-drawer #drawer mode="over">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <header [ngClass]="{'scrolled' : scrollPosition != 0 }">
      <mat-toolbar class="header-content" color="primary" fxHide.sm fxHide.xs fxLayout="row" fxLayoutAlign="space-between center">
          <h1 class="site-title">Lightning Talks</h1>
          <div class="menu-items">
              <button mat-button [ngx-scroll-to]="'#intro'">Countdown</button>
              <button mat-button [ngx-scroll-to]="'#about'">About</button>
              <button mat-button [ngx-scroll-to]="'#speakers'">Speakers</button>
              <button mat-button [ngx-scroll-to]="'#schedule'">Schedule</button>
          </div>
          <span></span>
      </mat-toolbar>

      <mat-toolbar class="header-content" color="primary" fxHide.xl fxHide.lg fxHide.md fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Open menu">menu</mat-icon>
        </button>

        <h1 class="site-title">Lightning Talks</h1>

        <span></span>
      </mat-toolbar>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

</mat-drawer-container>
