<mat-drawer-container fxLayout="column" autosize>
  <mat-drawer class="mobile-menu" #drawer mode="over">
    <div class="site-name" fxFlex fxLayoutAlign="center center">
      <h2>KL&A Lightning Talks</h2>
    </div>
    <div class="menu-items" fxFlex fxLayout="column">
      <button mat-button (click)="drawer.toggle()" routerLink="." fragment="intro">Countdown</button>
      <button mat-button (click)="drawer.toggle()" routerLink="." fragment="about">About</button>
      <button mat-button (click)="drawer.toggle()" routerLink="." fragment="speakers">Speakers</button>
      <button mat-button (click)="drawer.toggle()" routerLink="." fragment="schedule">Schedule</button>
    </div>
  </mat-drawer>

  <header [ngClass]="{'scrolled' : scrollPosition != 0 }">
      <mat-toolbar class="header-content" color="primary" fxHide.sm fxHide.xs fxLayout="row" fxLayoutAlign="space-between center">
          <h1 class="site-title">Lightning Talks</h1>
          <div class="menu-items">
            <button mat-button routerLink="." fragment="intro">Countdown</button>
            <button mat-button routerLink="." fragment="about">About</button>
            <button mat-button routerLink="." fragment="speakers">Speakers</button>
            <button mat-button routerLink="." fragment="schedule">Schedule</button>
          </div>
          <span></span>
      </mat-toolbar>

      <mat-toolbar class="header-content" color="primary" fxHide.xl fxHide.lg fxHide.md fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Open menu">menu</mat-icon>
        </button>

        <h1 class="site-title">Lightning Talks</h1>

        <span></span>
      </mat-toolbar>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

</mat-drawer-container>
