/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;

    * {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
        font-weight: 300;
    }
}

#header {
    left: 0;
    position: fixed;
    top: 0;
    transition: .2s ease-in-out;
}

#header.at-top {
    background: transparent;
}

#header.scrolled {
    background: #FFFFFF;
    color: rgb(0, 75, 125);
}

#intro {
    background:
        linear-gradient(
            rgba(0, 38, 63, 0.8),
            rgba(0, 75, 125, 0.8)
        ),
        url('./assets/intro-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    min-height: 100vh;
}