/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-design-icons/iconfont/material-icons.css';
@import url('https://fonts.googleapis.com/css?family=Arvo:400,700|Lato:100,300,400,700');

html, body {
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Arvo', serif;
    margin: 0;
}

h2 {
    color: rgba(0,0,0,.87);
    font-size: 48px;

    @media (max-width: 600px) {
        font-size: 32px;
    }

    @media (max-height: 768px) {
        font-size: 32px;
    }
}

h3 {
    color: rgba(0,0,0,.87);
    font-weight: lighter;
    font-size: 28px;

    @media (max-width: 600px) {
        font-size: 24px;
    }

    @media (max-height: 768px) {
        font-size: 24px;
    }
}

p {
    color: rgba(0,0,0,.87);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 150%;
    margin: 0;

    @media (max-width: 600px) {
        font-size: 16px;
    }

    @media (max-height: 768px) {
        font-size: 16px;
    }
}

header {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    .header-content {
        position:relative;
        background: transparent !important;
        z-index:0;

        @media (min-width: 600px) {
            .menu-items {
                margin-left: -64px;
            }
        }

        @media (max-width: 600px) {
            .site-title {
                margin-left: -32px;
            }
        }
    }

    .header-content:before {
        content: "";
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
        position: absolute;
        z-index:-1;
        top: 0;  left: 0;  right: 0;  bottom: 0;
        background: linear-gradient(to right, #00263F , #004B7D);
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition: transform .5s ease-in-out;
    }
}

header.scrolled {
    .header-content:before {
        transform: scaleX(1);
    }
}

.mobile-menu {
    overflow-y: auto;
    max-height: 100vh;
    width: 80vw;

    .mat-drawer-inner-container {
        flex-direction: column !important;
    }

    .site-name {
        background: linear-gradient(to right, #00263F , #004B7D);
        max-height: 30vh;

        h2 {
            color: #FFFFFF;
            font-size: 24px;
        }
    }

    .menu-items {
        .mat-button {
            border-radius: 0 !important;
            padding: 16px 0;
        }
    }
}

#intro {
    background:
        linear-gradient(rgba(0, 38, 63, 0.8),rgba(0, 75, 125, 0.8)),
        url('./assets/intro-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;

    .countdown {
        background: linear-gradient(to right, #F39C35 , #F1C436);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 64px;
    }

    .event-title {
        color: #FFFFFF;
        font-size: 94px;
        letter-spacing: 2px;

        @media (max-width: 600px) {
            font-size: 64px;
        }

        @media (max-height: 768px) {
            font-size: 64px;
        }

        @media (max-width: 400px) {
            font-size: 42px;
        }

        @media (max-height: 400px) {
            font-size: 42px;
        }
    }

    .event-date {
        color: #FFFFFF;
        font-size: 36px;
        font-weight: lighter;

        @media (max-width: 600px) {
            font-size: 32px;
        }

        @media (max-height: 768px) {
            font-size: 32px;
        }

        @media (max-width: 400px) {
            font-size: 24px;
        }

        @media (max-height: 400px) {
            font-size: 24px;
        }
    }

    button.learn-more {
        background: linear-gradient(to right, #F39C35 , #F1C436);
        border-radius: 500px;
        bottom: 128px;
        color: rgb(0, 75, 125);
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1px;
        padding: 4px 32px;
        position: absolute;

        @media (max-height: 768px) {
            bottom: 64px;
        }

        @media (max-height: 400px) {
            bottom: 32px;
            font-size: 16px;
            padding: 4px 24px;
        }
    }
}

#about {
    min-height: calc(40vh - 32px);
    padding: 16px 0;

    @media (max-width: 600px) {
        min-height: calc(40vh - 48px);
        padding: 24px 0;
    }
}

#speakers {
    background: rgba(0,0,0,.03);
    min-height: calc(40vh - 32px);
    padding: 16px 0;

    @media (max-width: 600px) {
        min-height: calc(40vh - 48px);
        padding: 24px 0;
    }

    .speaker {
        .profile-img {
            border-radius: 50%;
            height: 150px;
            width: 150px;
        }

        .slack-handle {
            font-size: 90%;

            .fa {
                margin-right: 4px;
            }
        }
    }
}
